<form
  method="POST"
  action="<%= locals.editItem ? `/items/${locals.editItem.item_id}/edit` : '/items/new' %>"
>
  <input type="hidden" name="from" value="<%= locals.currentPath || '/' %>" />
  <input type="hidden" name="fromName" value="<%= locals.fromName || '' %>" />
  <input type="hidden" name="fromFrom" value="<%= locals.from || '/' %>" />
  <div class="form-fields">
    <div class="form-field">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        name="name"
        value="<%= locals.editItem?.item_name || locals.formData?.name || '' %>"
        required />
    </div>
    <div class="form-field">
      <label for="size">Size</label>
      <input
        type="text"
        id="size"
        name="size"
        value="<%= locals.editItem?.item_size || locals.formData?.size || '' %>"
        required />
    </div>
    <div class="form-field">
      <label for="price">Price</label>
      <input
        type="number"
        id="price"
        name="price"
        step="0.01"
        min="0"
        value="<%= locals.editItem?.item_price || locals.formData?.price || '' %>"
        required />
    </div>
    <div class="form-field">
      <label for="stock">Stock</label>
      <input
        type="number"
        id="stock"
        name="stock"
        step="1"
        min="0"
        value="<%= locals.editItem?.item_stock || locals.formData?.stock || '' %>"
        required />
    </div>
    <div class="form-field">
      <label for="image_url">Image URL</label>
      <input
        type="text"
        id="image_url"
        name="image_url"
        value="<%= locals.editItem?.image_url || locals.formData?.image_url || '' %>"
      />
    </div>
    <div class="form-field">
      <label for="category">Category</label>
      <select id="category" name="category" required>
        <option value="1" <%= locals.editItem?.category_id == 1 ? 'selected' : '' %>>Frozen Food</option>
        <option value="2" <%= locals.editItem?.category_id == 2 ? 'selected' : '' %>>Snacks</option>
        <option value="3" <%= locals.editItem?.category_id == 3 ? 'selected' : '' %>>Drinks</option>
        <option value="4" <%= locals.editItem?.category_id == 4 ? 'selected' : '' %>>Home Goods</option>
        <option value="5" <%= locals.editItem?.category_id == 5 ? 'selected' : '' %>>Uncategorized</option>
      </select>
    </div>
    <div class="form-field">
      <button class="form-button">
        <%= locals.editItem? 'Update' : 'Submit' %>
      </button>
    </div>
  </div>
</form>
<%- include("../partials/formErrors.ejs") %>
