<html>
  <head>
    <title>Authenticate User</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <a class="skip-link" href="#main-content">Skip to main content</a>
    <header class="main-header">
      <div class="logo-nav-form">
        <a href="/"
          ><img
            class="small-logo"
            src="/images/EverybodyLogo.jpeg"
            alt="Everybody's Bodega logo"
        /></a>
        <div class="nav-form">
          <nav class="main-nav">
            <a class="main-links" href="/">All Categories</a>
            <a class="main-links" href="/items">All Items</a>
            <%- include("../partials/loginLogout.ejs") %>
          </nav>
          <%- include("../partials/form.ejs") %>
        </div>
      </div>
    </header>
    <main id="main-content" class="auth-page">
      <h1>User Login</h1>
      <form
        class="auth-form"
        method="POST"
        action="/login?from=<%= locals.from || '/' %>"
      >
        <div class="item-div">
          <label for="username">User Name</label>
          <input
            type="text"
            id="username"
            name="username"
            value="<%= locals.username || '' %>"
          />
        </div>
        <div class="item-div">
          <label class="auth-label" for="password">Password</label>
          <input
            class="auth-input"
            type="password"
            id="password"
            name="password"
            value=""
          />
        </div>
        <%- include("../partials/passwordErrors.ejs") %>
        <button type="submit" class="form-button auth-button">Login</button>
      </form>
    </main id="main-content">
    <footer>Thought Windows</footer>
  </body>
</html>
