<html>
  <head>
    <title><%= items.category_name %></title>
  </head>
  <body>
    <h1><%= items.category_name %></h1>
    <a href="/category/<%= items[0].category_id %>?sort=item_name">Sort By Name</a>
    <a href="/category/<%= items[0].category_id %>?sort=item_price">Sort By Price</a>
    <a href="/category/<%= items[0].category_id %>?sort=item_stock">Sort By Stock</a>
    <ul>
      <% items.forEach((item) => { %>
        <h2><%= item.item_name %></h2>
        <a href="<%= `/items/${item.item_id}`%>?from=/category/<%= categoryID %>&categoryName=<%= categoryName %>">View Item</a>
        <% }); %>
            
    </ul>
    <footer>
      <a href="/">Home</a>
    </footer>
  </body>
</html>
