<html>
  <head>
    <title><%= items.category_name %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <header class="main-header">
      <div class="logo-nav-form">
        <a href="/"><img class="small-logo" src="/images/EverybodyLogo.jpeg" alt="Everybody's Bodega logo"></a>
            <div class="nav-form">
              <nav class="main-nav">
                  <a class="main-links" href="/">All Categories</a>
                  <a class="main-links" href="/items">All Items</a>
                  <%- include("../partials/loginLogout.ejs") %>
              </nav>
              <%- include("../partials/form.ejs") %>
            </div>
      </div>
    </header>
    <div>
      <span class="back-to-link"><a href="/">Back to Categories</a></span>
      <div class="category-div">
        <h1 class="items-title"><%= items[0].category_name %></h1>
          <table class="items-table">
            <thead>
              <tr>
                <th></th>
                <th><span class="th-inner">Name<a href="/category/<%= items[0].category_id %>?sort=item_name&order=ASC"><img class="sort-icon" src="/icons/sort-alph-asc.svg"></a><a href="/category/<%= items[0].category_id %>?sort=item_name&order=DESC"><img class="sort-icon" src="/icons/sort-alph-desc.svg"></a></span></th>
                <th><span class="th-inner">Size</span></th>
                <th><span class="th-inner">Price<a href="/category/<%= items[0].category_id %>?sort=item_price&order=ASC"><img class="sort-icon" src="/icons/sort-asc.svg"></a><a href="/category/<%= items[0].category_id %>?sort=item_price&order=DESC"><img class="sort-icon" src="/icons/sort-desc.svg"></a></span></th>
                <th><span class="th-inner">Stock<a href="/category/<%= items[0].category_id %>?sort=item_stock&order=ASC"><img class="sort-icon" src="/icons/sort-asc.svg"></a><a href="/category/<%= items[0].category_id %>?sort=item_stock&order=DESC"><img class="sort-icon" src="/icons/sort-desc.svg"></a></span></th>
              </tr>
            </thead>
            <tbody>
              <% items.forEach((item) => { %>
                <tr class="item-row">
                  <td><a class='open-link' href="<%= `/items/${item.item_id}`%>?from=/category/<%= categoryID %>&fromName=<%= fromName %>"><img class="item-image fallback" src="/images/<%= item.item_url %>" alt="<%= item.item_name %>"></a></td>
                  <td><div class="name-cell"><a class="item-name" href="<%= `/items/${item.item_id}`%>?from=/category/<%= categoryID %>&fromName=<%= fromName %>"><%= item.item_name %></a><a class="edit-item-button" href="?edit=<%= item.item_id %>">Edit Item</a></div></td>
                  <td><%= item.item_size %></td>
                  <td>$<%= item.item_price %></td>
                  <td><%= item.item_stock %></td>
                </tr>
              <% }); %>
            </tbody>
          </table>
      </div>
    </div>
    <footer>
          Thought Windows
    </footer>
    <script src="/scripts/scrollPosition.js"></script>
    <script src="/scripts/errorEvent.js"></script>
  </body>
</html>
