<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <title><%= title %></title>
    </head>
    <body>
        <header class="main-header">
            <div class="logo-nav-form">
                <a href="/"><img class="small-logo" src="/images/EverybodyLogo.jpeg" alt="Everybody's Bodega logo"></a>
                <div class="nav-form">
                    <nav class="main-nav">
                        <a class="main-links" href="/">All Categories</a>
                        <a class="main-links" href="/items">All Items</a>
                        <div class="login-link"><a href="/login">Login</a></div>
                    </nav>
                    <%- include("../partials/form.ejs") %>
                </div>
            </div>
        </header>
        <div class="main-div">
            <h1 class="index-title"><%= title %></h1>
            <ul class="category-grid">
                <% categories.forEach((category, index) => { %>
                    <div class="category-card">
                        <a class='open-link' href="/"><h2><%= category.name %></h2></a>
                        <a class='open-link' href="<%= `/category/${category.id}`%>"><img class="category-image fallback" src="/images/<%= category.name.replace(/\s+/g, '') %>.jpeg" 
                                alt="<%= category.name %>"
                                >
                        </a>
                    </div>
                <% }); %>
            </ul>
        </div>
        <footer>
            Application created by Thought Windows
        </footer>
    <script src="/scripts/errorEvent.js"></script>
    </body>
</html>