<html>
  <head>
    <title><%= items.item_name %></title>
  </head>
  <body>
    <h1><%= items[0].item_name %></h1>
    <ul><h3>Categories</h3>
      <% items.forEach((item) => { %>
        <h3><%= item.category_name %></h3>
        <% }); %>      
        <h4>$<%= items[0].item_price %></h4>      
        <h4>In Stock: <%= items[0].item_stock %></h4>
        <h5><%= items[0].item_sku %></h5> 
    </ul>
    <footer>
      <a href="/">Home</a>
    </footer>
  </body>
</html>
