<html>
  <head>
    <title>Confirm Delete <%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="main-header">
      <div class="logo-nav-form">
        <a href="/"
          ><img
            class="small-logo"
            src="/images/EverybodyLogo.jpeg"
            alt="Everybody's Bodega logo"
        /></a>
        <div class="nav-form">
          <nav class="main-nav">
            <a class="main-links" href="/">All Categories</a>
            <a class="main-links" href="/items">All Items</a>
          </nav>
          <%- include("../partials/form.ejs") %>
        </div>
      </div>
    </header>
    <div class="item-div">
      <span class="back-to-link"
        ><a href="<%= from %>"
          >Back to <%= categoryName || 'All Items' %></a
        ></span
      >
      <div class="item-overview">
        <img
          class="item-image-large"
          src="/images/<%= item[0].image_url || 'placeholder.jpg' %>"
          alt="<%= item[0].name %>"
          onerror="this.src='/images/placeholder.jpeg'"
        />
        <div class="item-info">
          <h1>Item Deleted</h1>
          <h3><%= item[0].item_name %></h3>
        </div>
      </div>
    </div>
    <footer>
      <a href="/">Home</a>
    </footer>
  </body>
</html>
